<!--TODO: Move this back to templates/content when bug is fixed.-->
{% extends "layout.html" %}
{% block heading %}
Log
{% endblock %}
{% block bodyoptions %}
onload="nav_open(); updateSubheading(0);"
{% endblock %}
{% block subheading %}
This is my blog.
{% endblock %}
{% block content %}
<div class="w3-cell w3-mobile" id="test">
    <div class="w3-animate-bottom w3-green w3-card-4 w3-round-large w3-padding w3-margin">
        <h1>Notice</h1>
        <p>
            Since I haven't got around to setting up a system yet, my blog posts will reside in colourdelete.gitlab.io/temp-blog.
        </p>
    </div>
</div>
{% endblock %}
