<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Ken Shibata{% endblock %}</title>
        <!--TODO: Use https://colourdelete.gitlab.io/static for all CSS -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js"></script>
        {% endblock %}
        <script>
          function nav_open() {
            document.getElementById("main").style.marginLeft = "25%";
            document.getElementById("mySidebar").style.width = "25%";
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("openNav").style.display = 'none';
            var divsToHide = document.getElementsByClassName("hide-on-close-nav");
            for(var i = 0; i < divsToHide.length; i++){
                divsToHide[i].style.display = "block";
            }
            var divsToHide = document.getElementsByClassName("show-on-close-nav");
            for(var i = 0; i < divsToHide.length; i++){
                divsToHide[i].style.display = "none";
            }
          }
          function nav_close() {
            document.getElementById("main").style.marginLeft = "0%";
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("openNav").style.display = "inline-block";
            var divsToHide = document.getElementsByClassName("hide-on-close-nav");
            for(var i = 0; i < divsToHide.length; i++){
                divsToHide[i].style.display = "none";
            }
            var divsToHide = document.getElementsByClassName("show-on-close-nav");
            for(var i = 0; i < divsToHide.length; i++){
                divsToHide[i].style.display = "block";
            }
          }
        </script>
        {% block head_add %}{% endblock %}
    </head>
    <body style="scroll-behavior: smooth;" {% block bodyoptions %}{% endblock %}>
        <div id="start" style="visibility: hidden;"></div>
        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display: none;" id="mySidebar">
            <button id="closeNav" class="w3-bar-item w3-btn w3-padding w3-large w3-margin-bottom" style="transition: 0.5s; position: absolute;"
                    onclick="nav_close();">&times;</button>
            <button id="closeNav" class="w3-bar-item w3-btn w3-padding w3-large w3-margin-bottom" style="transition: 0.5s;"
                    onclick="nav_close();">&times;</button>
            <img alt="Invisible image used for padding" src="https://gitlab.com/colourdelete/static/-/raw/master/public/me.jpg" class="w3-card-4 w3-circle w3-third" style="transition: 0.5s; visibility: hidden;">
            <img alt="Profile picture" src="https://gitlab.com/colourdelete/static/-/raw/master/public/me.jpg" class="w3-card-4 w3-circle w3-third w3-margin-bottom" style="transition: 0.5s;">
            <a href="/#start" class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">Ken Shibata</a>
            <a href="/#about" class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">About</a>
            <div class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">
                Contact<br /><br />
                <a href="https://gitlab.com/colourdelete" class="w3-text-blue w3-hover-text-black" style="transition: 0.5s; text-decoration: none;" id="contact-gitlab">
                    <i class="fa fa-gitlab w3-large"></i>
                </a>
                <a href="https://twitter.com/colourdelete" class="w3-text-blue w3-hover-text-black" style="transition: 0.5s; text-decoration: none;" id="contact-twitter">
                    <i class="fa fa-twitter w3-large"></i>
                </a>
                <!-- TODO: Add Medium Account -->
                <a href="https://www.linkedin.com/in/ken-shibata/" class="w3-text-blue w3-hover-text-black" style="transition: 0.5s; text-decoration: none;" id="contact-linkedin">
                    <i class="fa fa-linkedin w3-large"></i>
                </a>
                <a href="mailto:colourdelete@gmail.com" class="w3-text-blue w3-hover-text-black" style="transition: 0.5s; text-decoration: none;" id="contact-email">
                    <i class="fa fa-envelope w3-large"></i>
                </a>
                <br />
                <a class="w3-text-blue" style="transition: 0.5s; text-decoration: none;" id="contact-address">
                    <i class="fa fa fa-map-marker w3-large"></i> Toronto, Canada
                </a>
            </div>
            <div class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">
                Badges<br /><br />
                <img src="https://gitlab.com/colourdelete/colourdelete.gitlab.io/badges/master/pipeline.svg"></img>
            </div>
            <div class="w3-bar-item w3-btn w3-margin-bottom" style="transition: 0.5s;">
                <!-- CC BY 4.0 Attribution (auto-generated): -->
                <p xmlns:dct="http://purl.org/dc/terms/" xmlns:cc="http://creativecommons.org/ns#" class="license-text"><a rel="cc:attributionURL" property="dct:title" href="https://colourdelete.gitlab.io">This website</a> by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://colourdelete.gitlab.io">Ken Shibata</a> is licensed under <a rel="license" href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0<img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" /><img style="height:22px!important;margin-left:3px;vertical-align:text-bottom;" src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" /></a></p>
            </div>
        </div>
        <div id="main" class="w3-mobile">
            <div class="w3-blue w3-card-4 w3-mobile">
                <button id="openNav" class="w3-btn w3-padding w3-blue w3-large w3-round-large w3-animate-top" style="transition: 0.5s;" onclick="nav_open();">
                    <span class="material-icons">
                        more_vert
                    </span>
                </button>
                <button id="openNavPadding" class="w3-button w3-padding w3-large" style="visibility: hidden; background-color: transparent; color: transparent;">
                    <span class="material-icons">
                        more_vert
                    </span>
                </button>
                <div class="w3-container w3-row" style="display: inline;">
                    <div class="w3-padding w3-threequarter">
                        <h1>{% block heading %}Ken Shibata{% endblock %}</h1>
                        <p>{% block subheading %}{% endblock %}</p>
                    </div>
                    <div class="w3-quarter w3-right show-on-close-nav">
                        <img alt="Profile picture" src="https://gitlab.com/colourdelete/static/-/raw/master/public/me.jpg" class="w3-card-4 w3-circle w3-margin-bottom" style="transition: 0.5s;" width="50em;">
                        <div class="" style="transition: 0.5s;">
                            <a href="https://gitlab.com/colourdelete" class="w3-text-white w3-hover-text-black" style="transition: 0.5s; text-decoration: none;" id="contact-gitlab">
                                <i class="fa fa-gitlab w3-large"></i>
                            </a>
                            <a href="https://twitter.com/colourdelete" class="w3-text-white w3-hover-text-black" style="transition: 0.5s; text-decoration: none;" id="contact-twitter">
                                <i class="fa fa-twitter w3-large"></i>
                            </a>
                            <!-- TODO: Add Medium Account -->
                            <a href="https://www.linkedin.com/in/ken-shibata/" class="w3-text-white w3-hover-text-black" style="transition: 0.5s; text-decoration: none;" id="contact-linkedin">
                                <i class="fa fa-linkedin w3-large"></i>
                            </a>
                            <a href="mailto:colourdelete@gmail.com" class="w3-text-white w3-hover-text-black" style="transition: 0.5s; text-decoration: none;" id="contact-email">
                                <i class="fa fa-envelope w3-large"></i>
                            </a>
                            <br />
                            <a class="w3-text-white" style="transition: 0.5s; text-decoration: none;" id="contact-address">
                                <i class="fa fa fa-map-marker w3-large"></i> Toronto, Canada
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
